<main class="todo">

	<h1 class="todo__title">To-do!</h1>

	<%= form_for @todo, html: {class: "form"} do |f| %>
		<%= f.text_field :name, class: "form__input", placeholder: "Press enter to add" %>
<!-- 		<%= f.submit class: "form__submit" %> -->
	<% end %>

	<div class="todo__list">
		<% @todos.each do |todo| %>

			<div class="item">
				<div class="item__check item__check--<%= todo.completed %>"> <%= link_to '<i class="fa fa-check"></i>'.html_safe, toggle_completed_path(todo) %> </div>
				<div class="item__name item__name--<%= todo.completed %>"><%= todo.name %></div>
				<div class="item__delete"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, todo, method: :delete %></div>
			</div>
		<% end %>
	</div>
</main>